PemUtil.readPemKey 去读 ecc 报错

### 版本情况

JDK版本：    openjdk_8_201
hutool版本： 5.7.16（请确保最新尝试是否还有问题）

### 问题描述（包括截图）

1. 复现代码
```java
  String ss = "-----BEGIN EC PRIVATE KEY-----\n" +
                "xxxxxxxxxxxxxxxxxxx" +
                "-----END EC PRIVATE KEY-----";
        PemUtil.readPemKey(new ByteArrayInputStream(ss.getBytes()));
```

2. 堆栈信息
3. Exception in thread "main" cn.hutool.crypto.CryptoException: InvalidKeySpecException: encoded key spec not recognized: unknown object in getInstance: org.bouncycastle.asn1.DEROctetString
	at cn.hutool.crypto.KeyUtil.generatePrivateKey(KeyUtil.java:287)
	at cn.hutool.crypto.KeyUtil.generatePrivateKey(KeyUtil.java:267)
	at cn.hutool.crypto.PemUtil.readPemKey(PemUtil.java:70)
	at SslTest.main(SslTest.java:100)
Caused by: java.security.spec.InvalidKeySpecException: encoded key spec not recognized: unknown object in getInstance: org.bouncycastle.asn1.DEROctetString
	at org.bouncycastle.jcajce.provider.asymmetric.util.BaseKeyFactorySpi.engineGeneratePrivate(Unknown Source)
	at org.bouncycastle.jcajce.provider.asymmetric.ec.KeyFactorySpi.engineGeneratePrivate(Unknown Source)
	at java.security.KeyFactory.generatePrivate(KeyFactory.java:366)
	at cn.hutool.crypto.KeyUtil.generatePrivateKey(KeyUtil.java:285)
	... 3 more


4. 测试涉及到的文件（注意脱密）

比如报错的Excel文件，有问题的图片等。

为什么 ecc的证书要用PemUtil.readSm2PemPrivateKey(new ByteArrayInputStream(ss.getBytes()));这个方法就不会报错,但是用PemUtil.readPemKey(new ByteArrayInputStream(ss.getBytes()));就会报错

PEM是DER格式的[BASE64编码](https://en.wikipedia.org/wiki/Base64)，猜测是中间没有做ans.1解码导致的。

参考[https://stackoverflow.com/questions/33425446/creating-rsa-public-key-from-string/33426378#33426378](url)

## 关于私钥、格式与编码

要把这个问题讲明白可能需要费点功夫，因为一方面私钥的格式有很多标准，另一方面 hutool 对标准的理解可能存在一些偏差，导致 `PemUtil` 工具类的封装其实存在一点点小问题。

就容我多啰嗦几句，尽量把背后的原因能讲明白😀。

### 1. 私钥的格式

从原理上来讲，目前密码学中非对称算法主要分为两种：
- 一种是利用质因数分解难题的 RSA 算法。
- 一种是基于椭圆曲线乘法逆运算难题的 ECC 算法。

但是 RSA 算法出现的时间要比 ECC 早得多，`PKCS#1（RFC 8017）` 很早就对 RSA 算法做了一些标准化工作，其中就包含了 RSA 的二进制私钥结构标准：

```textile
RSAPrivateKey ::= SEQUENCE {
             version           Version,
             modulus           INTEGER,  -- n
             publicExponent    INTEGER,  -- e
             privateExponent   INTEGER,  -- d
             prime1            INTEGER,  -- p
             prime2            INTEGER,  -- q
             exponent1         INTEGER,  -- d mod (p-1)
             exponent2         INTEGER,  -- d mod (q-1)
             coefficient       INTEGER,  -- (inverse of q) mod p
             otherPrimeInfos   OtherPrimeInfos OPTIONAL
         }
```

但是这个结构是使用 `ASN1` 编码进行组织的，`ASN1` 是一种二进制的字节编码方式，如果需要将二进制进行方便的存储和传输，就需要一种将二进制编码为可见字符的编码方式，Base64 无疑是一种很好的编码方式。

但是 Base64 在阅读时毕竟跟乱码没什么区别，人们更希望能够知道一串 Base64 具体指代的含义，以便能够理解和解析 Base64 编码的内容，于是 `PEM（RFC7468）`编码应运而生，PEM 通过在 Base64 字符串首尾添加标识字符串，来指示一段 Base64 字符串具体指代的内容，例如，一个上述结构的 RSA 私钥使用 PEM 编码后是这样的：

```textile
-----BEGIN RSA PRIVATE KEY-----
MIIBOwIBAAJBAKR9vHzaDTe2vNbYBA5iwPa7LcoxT2Thjj/qof3Jf+ai8WxllhfX
ZnxmfkFG9A5zhMt2tTbagiDrXEsvLXpDN2ECAwEAAQJANJwmigQv0A75TPngKj25
m/B4D8A/tXNSzOydjQ9CgiA8VstvdCGLUY6uZxGIi7ty889oUw+Fd744JoWDeLrz
MQIhAPLfN3XNwBpNFCKvgFi13t6jAtlgNAgAmUXjY4/hjth1AiEArWHpZlAQMj4s
Q+2FlrOnfFAE0KhgZDmOjmDjBz/ipb0CIQDrAwPvgkC5MoyhY6GWNaaLWMGRBn5S
oAGwlu/ociJ/YQIgPlD5tYdDOvuzpzqAkDjEEt8jy+cotf0l6rCSCLICgTUCIQCX
2F9lPk3ybKmBFfvvjN0/B3OmUG1AHloS1q8n+RQ9zQ==
-----END RSA PRIVATE KEY-----
```

通过 `BEGIN` 和 `END` 标识的字符串，我们一眼就能理解这段 Base64 指代了一个 `PKCS#1` 规范中规定的 RSA 私钥结构。

但是 `PKCS#1` 的 RSA 私钥结构中并没有字段标识具体的密钥算法，这是因为在标准制定时，还没有其他的非对称算法被提出来，这也造成了后来这个私钥结构的局限性。

随着 ECC 算法的提出，人们同样需要对 ECC 的密钥结构进行组织编码，于是在 `SEC 1` 中，标准化了 ECC 私钥的结构：

```textile
  ECPrivateKey ::= SEQUENCE {
         version       INTEGER { ecPrivkeyVer1(1) },
         privateKey    OCTET STRING,
         parameters    [0] EXPLICIT ECDomainParameters OPTIONAL,
         publicKey     [1] EXPLICIT BIT STRING OPTIONAL
  }
```

同样的，我们可以对 ECC 私钥进行 PEM 编码：

```textile
-----BEGIN EC PRIVATE KEY-----
MHcCAQEEIK0nZGahAeDb44kK/+WTwDQ3K0Nx6OFSuXocVvXTVIG+oAoGCCqBHM9V
AYItoUQDQgAE++rM4WtAH9cA7sVI3Hcl0nDV5OIUpBY7p6Hp6wgg7Qr96bcarJia
RN2YcNGFBXcBZmH+lDtYq6HGxwDux3+zEA==
-----END EC PRIVATE KEY-----
```

可以看到，通过读取 PEM 头，我们就可以知道应该用何种算法和标准来解析 Base64 编码的内容。

不同的非对称算法私钥都有各自的格式，那有没有一种格式能够同时表示不同算法的私钥格式呢？当然有，`PKCS#8(RFC 5208)` 被提了出来，PKCS#8 提出的私钥结构可以表示为：

```textile
  PrivateKeyInfo ::= SEQUENCE {
     version Version,
     privateKeyAlgorithm AlgorithmIdentifier {{PrivateKeyAlgorithms}},
     privateKey PrivateKey,
     attributes [0] Attributes OPTIONAL }

  Version ::= INTEGER {v1(0)} (v1,...)

  PrivateKey ::= OCTET STRING
```

通过添加 `AlgorithmIdentifie` 算法标识，`PKCS#8` 在结构中便指示了私钥的算法和相关参数，而 `PrivateKey` 则包装了各种不同算法的标准私钥内容，通过在外面包装一层的做法，做到了结构的统一性和后期的扩展性（万物皆可 Wrapper 😂）。

因此，我们上面的 RSA 和 ECC 私钥，再经过一次 PKCS#8 的包装，就可以表示成：

```textile
-----BEGIN PRIVATE KEY-----
MIIBVQIBADANBgkqhkiG9w0BAQEFAASCAT8wggE7AgEAAkEApH28fNoNN7a81tgE
DmLA9rstyjFPZOGOP+qh/cl/5qLxbGWWF9dmfGZ+QUb0DnOEy3a1NtqCIOtcSy8t
ekM3YQIDAQABAkA0nCaKBC/QDvlM+eAqPbmb8HgPwD+1c1LM7J2ND0KCIDxWy290
IYtRjq5nEYiLu3Lzz2hTD4V3vjgmhYN4uvMxAiEA8t83dc3AGk0UIq+AWLXe3qMC
2WA0CACZReNjj+GO2HUCIQCtYelmUBAyPixD7YWWs6d8UATQqGBkOY6OYOMHP+Kl
vQIhAOsDA++CQLkyjKFjoZY1potYwZEGflKgAbCW7+hyIn9hAiA+UPm1h0M6+7On
OoCQOMQS3yPL5yi1/SXqsJIIsgKBNQIhAJfYX2U+TfJsqYEV+++M3T8Hc6ZQbUAe
WhLWryf5FD3N
-----END PRIVATE KEY-----
```

```textile
-----BEGIN PRIVATE KEY-----
MIGTAgEAMBMGByqGSM49AgEGCCqBHM9VAYItBHkwdwIBAQQgrSdkZqEB4NvjiQr/
5ZPANDcrQ3Ho4VK5ehxW9dNUgb6gCgYIKoEcz1UBgi2hRANCAAT76szha0Af1wDu
xUjcdyXScNXk4hSkFjunoenrCCDtCv3ptxqsmJpE3Zhw0YUFdwFmYf6UO1irocbH
AO7Hf7MQ
-----END PRIVATE KEY-----
```

因为本身包装的结构一致，而且结构内部已经包含了算法标识，在 PEM 的头尾就不需要特别去说明私钥的算法了。

### 2. Hutool 目前的问题

Hutool 的 `PemUtil.readPemKey` 方法，在内部识别算法时，是依赖 PEM 头指示的算法去做封装的：

```java
//private
if (type.endsWith("EC PRIVATE KEY")) {
    return KeyUtil.generatePrivateKey("EC", object.getContent());
}
if (type.endsWith("PRIVATE KEY")) {
    return KeyUtil.generateRSAPrivateKey(object.getContent());
```

而 `KeyUtil.generatePrivateKey` 方法是按照 `PKCS#8` 编码对输入的内容做处理的，这就导致了用户输入不是被 `PKCS#8` 包装的私钥格式时，内部对私钥还原处理时的预期格式就会出现偏差，进而导致一些解析失败的问题。

如果能够根据 PEM 头判断编码标准是否为 `PKCS#8`，从而做出一个兼容层，对不同的输入就能提供很好的兼容性。

### 3. RSA 兼容性好的原因

另外在还原 RSA 私钥时，可能不会有兼容问题，不要被表象迷惑，因为 BC 库内部做了一个重试，直接贴代码吧：

```java
try
{
    return generatePrivate(PrivateKeyInfo.getInstance(((PKCS8EncodedKeySpec)keySpec).getEncoded()));
}
catch (Exception e)
{
    //
    // in case it's just a RSAPrivateKey object... -- openSSL produces these
    //
    try
    {
        return new BCRSAPrivateCrtKey(
            RSAPrivateKey.getInstance(((PKCS8EncodedKeySpec)keySpec).getEncoded()));
    }
    catch (Exception ex)
    {
        throw new ExtendedInvalidKeySpecException("unable to process key spec: " + e.toString(), e);
    }
}
```

这个暂时保留，稍后处理。

@changhr2013 非常感谢你详细的解答，学习了。

之前一直对PKCS#1和PKCS#8之类的标准理解不清，导致PemUtil封装的问题。

@vousembrasser  5.8.5修改后，可以直接使用`PemUtil.readPemPrivateKey`完成PKCS#1格式密钥的读取。同时添加`OpensslKeyUtil`